body {
  background-color: rgb(39, 39, 42);
  color: rgb(158, 158, 196);
}

.alert-container {
  position: fixed;
  top: 0; /* 하단에 위치 */
  left: 50%; /* 가운데 정렬을 위해 왼쪽 기준으로 50% 이동 */
  transform: translateX(-50%); /* 가운데 정렬 */
  z-index: 999; /* 다른 요소 위에 표시 */
}

.list-item:hover {
  background-color: #384357;
}
